h1 {
	margin-bottom: 25px;

}

.calculator2 {
	padding: 10px;
	border-radius: 0.5em;
	height: 210px;
	width: 450px;
	margin: auto;
	background-color: rgb(92, 53, 102);
}

.td {
	font-size: 25px;
	color: white;
}

.input-box {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	background-color: #EDE7F6;
	height: 50%;
	width: 86.5%;
	border-radius: 0.5em;
}

.label-box {
	size: 5;
}

.button {
	font-family: Arial, 'Helvetica', sans-serif;
	font-size: large;
	background-color: rgb(138, 226, 52);
	color: black;
	border: solid black 0.5px;
	width: 23%;
	border-radius: 5px;
	height: 100%;
	outline: none;
}

.button:active {
	background: rgb(252, 233, 79);
}